<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>TodoList</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/all.css" />
	</head>
	<style>
		body {
			background: #1d2a33 url(/img/bg.jpg) no-repeat;
			background-size: cover;
		}
		h1 {
			text-align: center;
		}
	</style>
	<body>
		<div id="app" class="container col-10">
			<h1 class="display-2 my-3 mx-auto">Things to do</h1>
			<div class="row">
				<div class="container row col-9 mb-auto">
					<div class="card border-primary mb-3 m-1" style="width: 20rem;">
						<div class="card-header">
							<input
								type="text"
								placeholder=" 题目"
								id=""
								v-model="inputTitle"
							/>
							请入输入题目
						</div>
						<div class="card-body">
							<textarea
								class="form-control"
								id="exampleTextarea"
								rows="3"
								spellcheck="false"
								v-model="inputDetail"
							></textarea>
							<div class="row">
								<button
									@click="handleAdd"
									class="btn btn-outline-secondary mt-2 col"
								>
									添加
								</button>
								<select v-model="theme" class="custom-select mt-2 col">
									<option selected="">选择主题</option>
									<option value="bg-primary text-white">一般</option>
									<option value="bg-secondary text-white">次要</option>
									<option value="bg-danger text-white">紧急</option>
									<option value="bg-warning text-white">注意</option>
									<option value="bg-info text-white">常规</option>
									<option value="bg-light">无主题</option>
									<option value="bg-dark text-white">强调</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container row col-9 mb-auto">
					<div
						v-for="(item,index) in list"
						v-bind:class="item.theme"
						class="card mb-3 m-1"
						style="width: 20rem; height: 14rem;"
					>
						<div class="card-header">
							待完成
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
								@click="deleteItem(item,index)"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="card-body">
							<h4 class="card-title">{{ item.inputTitle }}</h4>
							<p class="card-text">
								{{ item.inputDetail }}
							</p>
							<button
								@click.once="finished(item)"
								v-bind:class="item.theme"
								class="btn mt-2 col"
							>
								标记为完成
							</button>
						</div>
					</div>
				</div>
				<div class="container col-3">
					<div
						v-for="(item,index) in listFinished"
						class="card mb-3 m-1 bg-success"
						style="width: 20rem; height: 14rem;"
					>
						<div class="card-header ">
							已完成
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
								@click="deleteItemFinished(item,index)"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="card-body">
							<h4 class="card-title">{{ item.inputTitle }}</h4>
							<p class="card-text">
								{{ item.inputDetail }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/vue.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					inputTitle: '',
					inputDetail: '',
					theme: '',
					list: [],
					listFinished: []
				},
				methods: {
					handleAdd() {
						var inputObj = {
							inputTitle: this.inputTitle,
							inputDetail: this.inputDetail,
							theme: this.theme
						};

						this.list.push(inputObj);
					},
					deleteItem(item, index) {
						this.list.splice(index, 1);
					},
					finished(item) {
						this.listFinished.push(item);
					},
					deleteItemFinished(item, index) {
						this.listFinished.splice(index, 1);
					}
				}
			});
		</script>
	</body>
</html>
